.RecipeCard {
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 5px;
}
.Recipe h1 {
  text-align: center;
}
.Recipe button {
  width: 150px%;
}
#leftBtn {
  margin-right: 50px;
  background-color: rgb(25, 206, 25);
  border-radius: 7px;
}
#rightBtn {
  margin-left: 50px;
  background-color: rgb(233, 4, 4);
  color: white;
  border-radius: 7px;
}
#buttonBox {
  text-align: center;
  display: inline-block;
  margin: 15px;
}
