body {
  background-image: url(https://i.pinimg.com/originals/4d/48/ff/4d48ff862ca25aec04a0ce7144da2698.jpg);
  background-size: cover;
  opacity: 1;
}
#fancyText {
  font-family: "Courgette", cursive;
  text-align: center;
}
